body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: auto;
  background-image: url('./assets/bgtile.png');
  background-repeat: repeat;
}

.app-container {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.social-links {
  display: flex;
  flex-direction: row;
  font-size: 0.5em;
  color: #fff;
  max-width: 600px;
  a {
    color: #778ddb;
    text-decoration: underline;
  }
  img {
    margin-right: 0.5em;
  }
}

#footer {
  display: none;
}
